@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Cormorant Garamond', serif;
  box-sizing: border-box;
  height: -webkit-fill-available;
  background-color: #000;
  color: white;
}

body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

button {
  font-family: Helvetica;
}