@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  height: -webkit-fill-available;
  font-family: 'Noto Sans', sans-serif;
  color: #1e1e1e;
}

body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  @apply dark:bg-black dark:text-white;
}